@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@import 'highlight.js/styles/stackoverflow-dark.min.css';
/* @import 'highlight.js/styles/hybrid.min.css'; */
/* @import 'highlight.js/styles/base16/material-darker.min.css'; */
/* @import 'highlight.js/styles/base16/chalk.css'; */
/* @import 'highlight.js/styles/base16/apprentice.css'; */
/* @import 'highlight.js/styles/vs2015.css'; */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(92% 0.0693 98.63);
	--background-hover: oklch(89% 0.0693 98.63);
	--background-foreground: oklch(34.4% 0.0287 174.85);

	--primary: oklch(36.6% 0.0137 235.23);
	--primary-hover: oklch(32.6% 0.0167 235.23);
	--primary-foreground: oklch(80.11% 0.0937 90.5);

	--secondary: oklch(97.61% 0.1191 108.42);
	--secondary-hover: oklch(94% 0.1301 108.42);
	--secondary-foreground: oklch(40.63% 0.0305 211.96);

	/* --tertiary: oklch(88.6% 0.1068 92.6);
	--tertiary-hover: oklch(94.6% 0.1068 92.6);
	--tertiary-foreground: oklch(41.76% 0.06 143.64); */

	--tertiary: oklch(94.19% 0.0933 112.65);
	--tertiary-hover: oklch(94.19% 0.0933 112.65);
	--tertiary-foreground: oklch(61.03% 0.0777 76.34);

	--highlight: oklch(65% 0.22 150);
	--highlight-hover: oklch(60% 0.23 150);
	--highlight-foreground: oklch(100% 0 0);

	--accent: oklch(58.25% 0.0941 209.11);
	--accent-hover: oklch(55% 0.1 209.11);
	--accent-foreground: oklch(92.74% 0.1133 120.71);

	--success: oklch(60% 0.18 180);
	--success-hover: oklch(55% 0.19 180);
	--success-foreground: oklch(100% 0 0);

	--warning: oklch(80% 0.15 90);
	--warning-hover: oklch(75% 0.16 90);
	--warning-foreground: oklch(0% 0 0);

	--error: oklch(58% 0.22 30);
	--error-hover: oklch(53% 0.23 30);
	--error-foreground: oklch(100% 0 0);

	--info: oklch(65% 0.18 220);
	--info-hover: oklch(58% 0.2 220);
	--info-foreground: oklch(100% 0 0);

	--destructive: oklch(50% 0.25 25);
	--destructive-hover: oklch(45% 0.27 25);
	--destructive-foreground: oklch(100% 0 0);
}

@theme {
	--breakpoint-*: initial;
	--breakpoint-xxs: 360px;
	--breakpoint-xs: 400px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;

	--font-*: initial;
	--font-quicksand: 'Quicksand', sans-serif;
	--font-satisfy: 'Satisfy', serif;
	--font-inter: 'Inter', serif;

	/* --color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground)); */
	--color-popover: var(--background);
	--color-popover-foreground: hsl(var(--background-foreground));

	--color-background: var(--background);
	--color-background-foreground: var(--background-foreground);

	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-tertiary: var(--tertiary);
	--color-tertiary-hover: var(--tertiary-hover);
	--color-tertiary-foreground: var(--tertiary-foreground);

	--color-accent: var(--accent);
	--color-accent-hover: var(--accent-hover);
	--color-accent-foreground: var(--accent-foreground);

	--color-highlight: var(--highlight);
	--color-highlight-foreground: var(--highlight-foreground);
	--color-highlight-hover: var(--highlight-hover);

	--color-destructive: var(--destructive);
	--color-destructive-hover: var(--destructive-hover);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-info: var(--info);
	--color-info-hover: var(--info-hover);
	--color-info-foreground: var(--info-foreground);

	--color-success: var(--success);
	--color-success-hover: var(--success-hover);
	--color-success-foreground: var(--success-foreground);

	--color-warning: var(--warning);
	--color-warning-hover: var(--warning-hover);
	--color-warning-foreground: var(--warning-foreground);

	--color-error: var(--error);
	--color-error-hover: var(--error-hover);
	--color-error-foreground: var(--error-foreground);

	--color-border: var(--primary-foreground);
	--color-input: var(--primary-foreground);
	--color-ring: var(--primary-foreground);

	/*--color-chart-1: hsl(var(--chart-1));
	--color-chart-2: hsl(var(--chart-2));
	--color-chart-3: hsl(var(--chart-3));
	--color-chart-4: hsl(var(--chart-4));
	--color-chart-5: hsl(var(--chart-5));

	--color-sidebar: hsl(var(--sidebar-background));
	--color-sidebar-foreground: hsl(var(--sidebar-foreground));
	--color-sidebar-primary: hsl(var(--sidebar-primary));
	--color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
	--color-sidebar-accent: hsl(var(--sidebar-accent));
	--color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
	--color-sidebar-border: hsl(var(--sidebar-border));
	--color-sidebar-ring: hsl(var(--sidebar-ring));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out; */
}

.button-warning {
	background-color: var(--color-warning);
	color: var(--warning-foreground);

	&:hover {
		background-color: var(--color-warning-hover);
	}
}

.button-error {
	background-color: var(--destructive);
	color: var(--destructive-foreground);

	&:hover {
		background-color: var(--destructive-hover);
	}
}

.button-success {
	background-color: var(--color-success);
	color: var(--color-success-foreground);

	&:hover {
		background-color: var(--color-success-hover);
	}
}

.button-info {
	background-color: var(--color-info);
	color: var(--color-info-foreground);

	&:hover {
		background-color: var(--color-info-hover);
	}
}

.navbar-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	transition: background-color 0.2s ease-in-out;
	color: #374151;
	font-weight: 500;
}

.navbar-item svg.lucide {
	width: 1.25rem;
	height: 1.25rem;
}

@layer utilities {
	.padding-content {
		@apply px-[30px] xxs:px-[30px] xs:px-[40px] sm:px-[60px] md:px-[120px];
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Quicksand', sans-serif;
		font-weight: 600;
	}

	.btn-primary {
		background-color: var(--primary);
		color: var(--primary-foreground);

		&:hover {
			background-color: var(--primary-hover);
		}
	}

	.btn-secondary {
		background-color: var(--secondary);
		color: var(--secondary-foreground);

		&:hover {
			background-color: var(--secondary-hover);
		}
	}

	.ql-editor p img {
		margin: 10px auto;
		max-height: 300px;
	}

	.ql-code-block-container select {
		background-color: #171717;
		border: 1px solid #eaeaea;
		padding: 0px 4px;
	}

	.custom-tab {
		margin-left: 40px;
	}
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}
