@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@import 'highlight.js/styles/stackoverflow-dark.min.css';
/* @import 'highlight.js/styles/hybrid.min.css'; */
/* @import 'highlight.js/styles/base16/material-darker.min.css'; */
/* @import 'highlight.js/styles/base16/chalk.css'; */
/* @import 'highlight.js/styles/base16/apprentice.css'; */
/* @import 'highlight.js/styles/vs2015.css'; */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;

  --font-*: initial;
  --font-quicksand: Quicksand, sans-serif;
  --font-satisfy: Satisfy, serif;
  --font-inter: Inter, serif;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-text: hsl(var(--secondary-text));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-hover: hsl(var(--accent-hover));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-highlight: hsl(var(--highlight));
  --color-highlight-hover: hsl(var(--highlight-hover));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme {
  --color-primary: oklch(97.2% 0.005 100.9);
  --color-primary-foreground: oklch(22.9% 0.01 270);
  --color-secondary: oklch(22.9% 0.01 270);
  --color-secondary-text: oklch(49.7% 0.01 270);
  --color-secondary-foreground: oklch(100% 0 0);
  --color-highlight: oklch(76.1% 0.14 61.1);
  --color-highlight-hover: oklch(68.5% 0.15 61.1);
  --color-accent: oklch(35.6% 0.06 251.5);
  --color-accent-hover: oklch(27.1% 0.07 251.5);
  --color-accent-foreground: oklch(100% 0 0);
  --color-success: oklch(59.3% 0.2 177.8);
  --color-warning: oklch(83.7% 0.17 95.1);
  --color-error: oklch(60.5% 0.25 31.2);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility {
  .button-warning {
    @apply bg-yellow-400 text-black hover:bg-yellow-500!;
  }

  .button-error {
    @apply bg-destructive text-white hover:bg-red-600!;
  }

  .button-success {
    @apply bg-emerald-600 text-slate-100 hover:bg-emerald-700!;
  }

  .button-info {
    @apply bg-blue-500 text-white hover:bg-blue-600!;
  }

  .navbar-item {
    @apply flex items-center text-sm gap-3 p-2 rounded hover:bg-gray-200 text-slate-700 font-medium;
  }

  .navbar-item svg.lucide {
    @apply w-5 h-5;
  }

  .padding-content {
    @apply px-[30px] xxs:px-[30px] xs:px-[40px] sm:px-[60px] md:px-[50px];
  }

  .btn-primary {
    @apply bg-[var(--color-accent)] text-[var(--color-accent-foreground)] hover:bg-[var(--color-accent-hover)];
  }

  .btn-secondary {
    @apply bg-[var(--color-highlight)] text-[var(--color-secondary)] hover:bg-[var(--color-highlight-hover)];
  }

  .btn-tertiary {
    @apply bg-transparent text-[var(--color-secondary)] border border-[var(--color-secondary-text)] hover:bg-gray-300;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-[var(--color-primary)] text-[var(--color-primary-foreground)] font-inter font-normal text-xs sm:text-sm md:text-base lg:text-lg;
	}
}

.ql-editor p img {
	margin: 10px auto;
	max-height: 300px;
}

.ql-code-block-container select {
	background-color: #171717;
	border: 1px solid #eaeaea;
	padding: 0px 4px;
}

.custom-tab {
	margin-left: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: "Satisfy", serif; */
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}
