@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@import 'highlight.js/styles/stackoverflow-dark.min.css';
/* @import 'highlight.js/styles/hybrid.min.css'; */
/* @import 'highlight.js/styles/base16/material-darker.min.css'; */
/* @import 'highlight.js/styles/base16/chalk.css'; */
/* @import 'highlight.js/styles/base16/apprentice.css'; */
/* @import 'highlight.js/styles/vs2015.css'; */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

@theme {
	--color-primary: oklch(97.2% 0.005 100.9);
	--color-primary-foreground: oklch(22.9% 0.01 270);
	--color-secondary: oklch(22.9% 0.01 270);
	--color-secondary-text: oklch(49.7% 0.01 270);
	--color-secondary-foreground: oklch(100% 0 0);
	--color-highlight: oklch(76.1% 0.14 61.1);
	--color-highlight-hover: oklch(68.5% 0.15 61.1);
	--color-accent: oklch(35.6% 0.06 251.5);
	--color-accent-hover: oklch(27.1% 0.07 251.5);
	--color-accent-foreground: oklch(100% 0 0);
	--color-success: oklch(59.3% 0.2 177.8);
	--color-warning: oklch(83.7% 0.17 95.1);
	--color-error: oklch(60.5% 0.25 31.2);
}

@utility {
	.button-warning {
		@apply bg-yellow-400 text-black hover:!bg-yellow-500;
	}

	.button-error {
		@apply bg-destructive text-white hover:!bg-red-600;
	}

	.button-success {
		@apply bg-emerald-600 text-slate-100 hover:!bg-emerald-700;
	}

	.button-info {
		@apply bg-blue-500 text-white hover:!bg-blue-600;
	}

	.navbar-item {
		@apply flex items-center text-sm gap-3 p-2 rounded hover:bg-gray-200 text-slate-700 font-medium;
	}

	.navbar-item svg.lucide {
		@apply w-5 h-5;
	}

	.padding-content {
		@apply px-[30px] xxs:px-[30px] xs:px-[40px] sm:px-[60px] md:px-[50px];
	}

	.btn-primary {
		@apply bg-[var(--color-accent)] text-[var(--color-accent-foreground)] hover:bg-[var(--color-accent-hover)];
	}

	.btn-secondary {
		@apply bg-[var(--color-highlight)] text-[var(--color-secondary)] hover:bg-[var(--color-highlight-hover)];
	}

	.btn-tertiary {
		@apply bg-transparent text-[var(--color-secondary)] border border-[var(--color-secondary-text)] hover:bg-gray-300;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-[var(--color-primary)] text-[var(--color-primary-foreground)] font-inter font-normal text-xs sm:text-sm md:text-base lg:text-lg;
	}
}

.ql-editor p img {
	margin: 10px auto;
	max-height: 300px;
}

.ql-code-block-container select {
	background-color: #171717;
	border: 1px solid #eaeaea;
	padding: 0px 4px;
}

.custom-tab {
	margin-left: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: "Satisfy", serif; */
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}
