@reference "../app/globals.css";

@layer utilities {
	.post-content {
		position: relative;

		@media (min-width: 1024px) {
			overflow: hidden;
			display: grid;
			grid-template-areas:
				'breadcrumb breadcrumb'
				'main-content info-section'
				'main-content info-section';
			grid-template-rows: 60px calc(30vh) calc(60vh - 80px);
			grid-template-columns: 1fr 25vw;
		}

		&.hide-breadcrumb {
			.breadcrumb {
				grid-area: unset;
			}

			@media (min-width: 1024px) {
				grid-template-areas:
					'main-content info-section'
					'main-content info-section';
				grid-template-rows: calc(30vh - 40px) calc(60vh - 40px);
			}
		}

		.breadcrumb {
			grid-area: breadcrumb;
			@apply mt-4;

			@media (min-width: 1024px) {
				@apply mt-0;
			}
		}

		.main-content {
			grid-area: main-content;

			@media (min-width: 640px) {
				@apply my-10;
			}

			@media (min-width: 1024px) {
				@apply my-0;
			}
		}

		.info-section {
			grid-area: info-section;
			display: flex;
			flex-direction: column;
			gap: 10px;

			@apply px-8 mb-8;

			@media (min-width: 640px) {
				@apply px-28;
			}

			@media (min-width: 1024px) {
				@apply pl-4 pr-0;
			}
		}

		.comment-section {
			grid-area: comment-section;
			display: grid;
			gap: 20px;
			grid-template-columns: 1fr;
			grid-template-rows: 5% calc(85% - 40px) 10%;
		}
	}
}
